Chapter-1/*
test/*
pwn/*
YT/*
ds-algo/*
kernel-programming/*
cpp/main
LetUsC/main

!sysd/
!kernel-programming/*.c
!ds-algo/*.c
!YT/*.c
!pwn/*.c
!*.c
!*/*.c
!*/*.h
!*/*.txt
!README.md
C_pros/a.out

cmake_test/build/*
